<section>
  <form method="POST" action="/report-data">
    <span>Nome: </span><input type="text" name="nome" /><br />
    <span>Publicações: </span
    ><input type="number" min="0" value="0" name="publicacoes" /><br />
    <span>Vídeos: </span
    ><input type="number" min="0" value="0" name="videos" /><br />
    <span>Horas: </span
    ><input type="number" min="0" value="0" name="horas" /><br />
    <span>Revisitas: </span
    ><input type="number" min="0" value="0" name="revisitas" /><br />
    <span>Estudos: </span
    ><input type="number" min="0" value="0" name="estudos" /><br />
    <span>Obs: </span><textarea rows="5" name="obs"></textarea><br />
    <button type="submit">Enviar</button>
  </form>
</section>
