<section>
  <form method="POST" action="/report">
    <p>
      <label for="month">
        <span>Mês</span>
        <select name="month">
          {% for m in months %}
            <option value="{{ loop.index }}" {{ 'selected=selected' if mes == loop.index else '' }}>
              {{ m }}
          {% endfor %}
        </select>
      </label>
    </p>
    <p>
      <label for="report">
        <span>Dados do relatório:</span>
        <br />
        <textarea rows="10" name="report">
{{ report if report else "Nome:\nPublicações:\nVídeos:\nHoras:\nRevisitas:\nEstudos:\nObs:" }}
        </textarea>
      </label>
    </p>
    <button type="submit">Enviar</button>
  </form>
</section>
